*{
    margin:0;
    border:0;
    box-sizing: border-box;
}
form{
   display: flex;
   flex-direction: column;
   border:1px solid black;
   width: 50%;
}
.Gender-input{
    display: flex;
    border:1px solid black;
    justify-content: space-around;
    width: 50%;
    margin:.5rem;
}
.radio-buttons{
    display: flex;
    flex-direction: column;
}
.skills{
    display: flex;
    border:1px solid black;
    width:70%;
    margin:.5rem;
    justify-content: space-around;
    align-items: center;
}
.buttons{
    display: flex;
    width: 40%;
    justify-content: space-around;
    padding:.5rem;
}
/* .buttons:first-child{
    color:white;
    background-color: blue;
}
.buttons:{
    background-color: red;
    color:rgb(20, 15, 15);
} */
.student-image{
    width:150px;
    height:150px;
}
.form-container{
    display: flex;
} 

.input-container{
    display: flex;
    margin:.2rem;
    width: 70%;
    justify-content: space-between   ;
}
.input-container input{
    border:1px solid black;
}
.student{
    width: 100%;
    border:1px solid black;
}
.student{
    display: flex;
    
    justify-content: space-around;
}
.student>*{
    border:1px solid black;
    
}
.student img:before {
    content: ' ';
    display: block;
    position: absolute;
    height: 150px;
    width: 150px;
    background-image: url("https://cdn5.vectorstock.com/i/1000x1000/54/69/male-user-icon-vector-8865469.jpg");
    background-repeat: no-repeat;
  background-size: 150px 150px;
}
.student-details{
    width: 100%;
    /* background-color: red; */
    padding-right: 14rem;
    padding-left: .5rem;
}
